<?xml version="1.0"?>

<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="teleop" default="false" />
  <arg name="rqt" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find slambot)/urdf/slambot.urdf.xacro'" />

  <node name = "rviz" pkg = "rviz" type = "rviz" output = "screen" 
    args="-d $(find slambot)/rviz/slambot.rviz"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model slambot -param robot_description -x 8 -y -8"/>
  <!--node name = "rqt_robot_steering" pkg = "rqt_robot_steering" type = "rqt_robot_steering" output = "screen" if="$(eval rqt)" /-->

  <include file="$(find slambot)/launch/slambot_control.launch"> </include>
  <include file="$(find slambot)/launch/slambot_teleop.launch" if="$(eval teleop)"> </include>
  <include file="$(find slambot)/launch/slambot_autonomous.launch" if="$(eval not teleop)"> </include>
  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch">
    <!--arg name="world_name" value="$(find slambot)/world/slambot.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/-->
  </include>

</launch>